<app-header></app-header>

<section class="home" id="home">
  <div class="search-container">
    <form action="">
      <input type="text" [(ngModel)]="searchText" autocomplete="off" placeholder="Search..." name="search">
      <button (click)="search()" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <div class="content">
    <h3>estee lauder</h3>
    <p id="featured-name">Futurist Aqua Brilliance</p>
    <p>Makeup Teint aqua eclat SPF 20/PA+++</p>
    <div class="center">
      <a class="btn" routerLink="/products/8">shop now</a>
    </div>
  </div>

</section>

<section class="about" id="about">

  <h1 class="heading">about us</h1>

  <div class="row">

    <div class="video-container">
      <h3>fresh beauty</h3>
      <iframe allow="autoplay; gyroscope;"  allowfullscreen
              referrerpolicy="strict-origin" src="https://www.youtube.com/embed/546jjH5vbBc"></iframe>
    </div>

    <div class="content">
      <h3>why choose us?</h3>
      <p>More than 4,500 brands and 200,000 products — our team knows what is relevant today. World bestsellers, novelties and exclusive premieres, rare fragrances and brands from different parts of the planet, new opportunities for experiments by beauty artists — the Fresh Beauty range is constantly replenished and helps turn the wildest ideas into reality.</p>
      <p>By only selecting a few of the best treatment and product ranges, Fresh Beauty is able to provide the highest quality treatments and offer the most appropriate skin care routines, products and advice to suit your specific needs.</p>
      <p>Fresh Beauty is authorized and works under direct contracts with the largest luxe brands. YSL, Lancome, Biotherm, Armani, Prada, Valentino, Estee Lauder, Clinique... We are proud to say that we work directly with official suppliers and offer only original products.</p>
      <p>Join the Fresh Beauty community and create a beauty story with us!</p>
      <div class="center">
        <a routerLink="/about" class="btn">learn more</a>
      </div>
    </div>

  </div>

</section>

<app-about-icons></app-about-icons>

<section class="products" id="products">

  <h1 class="heading"> latest <span>products</span> </h1>
  <div class="box-container">
    <div class="box" *ngFor="let product of products">
        <div class="image">
          <img src="{{product.photoPath}}" alt="">
          <div class="icons">
            <a class="fas fa-heart" (click)="addToFavourite(product)"></a>
            <a class="cart-btn"><button class="AddTo" type="button" (click)="addToCart(product)"><p style="font-size: 16px ;color: #ffffff">Add to cart</p></button></a>
            <a routerLink="products/{{product.id}}" class="fas fa-share"></a>
          </div>
        </div>
        <div class="content">
          <h3>{{product.name}}</h3>
          <div class="price">{{product.price | currency:'USD'}}</div>
        </div>
      </div>
  </div>
</section>

<section class="contact" id="contact">

  <h1 class="heading"> <span> contact </span> us </h1>

  <div class="row">

    <form style="width: 50%" action="">
      <input style="background-color: #fff;" type="text" placeholder="Name" class="box">
      <input type="email" placeholder="Email" class="box">
      <input type="number" placeholder="Number" class="box">
      <textarea name="" class="box" placeholder="Message" id="" cols="30" rows="20"></textarea>
      <input type="submit" value="send message" class="btn">
    </form>

    <div class="image">
      <img src="assets/images/home/contact-img.jpg" alt=""/>
    </div>

  </div>

</section>

<app-footer></app-footer>