* {
  text-transform: capitalize;
}

section {
  padding:2rem 9%;
}

.heading {
  text-align: center;
  padding:1rem;
  margin:2rem 0;
  color:#333;
  font-size: 4rem;
  background:rgba(255, 51, 153,.05);
}

.AddTo{
  width: 180px;
  height: 55px;
  background-color: #aa5377;
}

.AddTo:hover{
  background-color: #333;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
}

.search-container {
  margin-top: 25rem;
  margin-bottom: 10rem;
  border: none;
  height: 40px;
  border-radius: 30px;
}

.search-container input {
  width: 499px;
  height: 40px;
  font-size: 17px;
  background: #ffe2ee;
}

.home {
  min-height: 100vh;
  background:url(src\assets\images\home\home-bg.jpg) no-repeat center;
  background-size: cover;
}

.home .content h3{
  font-size: 6rem;
  color:#cf8da7;
}

#featured-name {
  font-size: 3.5rem;
  color:#aa5377;
  padding:1rem 0;
  line-height: 1.5;
}

.home .content p{
  font-size: 1.5rem;
  color:rgb(234, 216, 158);
  padding:1rem 0;
  line-height: 1.5;
}

.about .row{
  display: flex;
  align-items: flex-start;
  gap:2rem;
  flex-wrap: wrap;
  padding: 2rem 0 3rem;
}

.video-container{
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
}

iframe {
  width: 100%;
  height: 40rem;
  margin-top: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.about .row .content, .video-container, .contact .row form, .contact .row .image {
  flex:1 1 40rem;
}

.about .row h3{
  font-size: 3rem;
  color:rgb(14, 14, 14);
  text-align: center;
}

.about .row .content p{
  font-size: 1.5rem;
  color:rgb(99, 99, 99);
  padding: 1rem 0 .5rem;
  line-height: 1.5;
  text-transform: none;
}

.products .box-container{
  gap:1.5rem;
}

.products .box-container .box{
  flex:1 1 30rem;
}

.products .box-container .box .image img{
  height:25rem;
}

.products .box-container .box .image .icons a{
  font-size: 2rem;
}

.products .box-container .box .content h3{
  font-size: 2.5rem;
}

.products .box-container .box .content .price{
  font-size: 2.5rem;
}

.products .box-container .box .content .price span{
  font-size: 1.5rem;
}

.contact .row{
  display: flex;
  flex-wrap: wrap-reverse;
  gap:1.5rem;
  align-items: center;
}

.contact .row form{
  padding:2rem 2.5rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.1);
  background: #fff;
  border-radius: .5rem;
}

.contact .row .image img{
  width: 100%;
}

.contact .row form .box{
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  margin:.7rem 0;
  width: 100%;
}

.contact .row form .box:focus{
  border-color: var(--pink);
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
}

@media screen  and (max-width: 1326px) {
  .search-container input {
    width: 400px;
  }

  .search-container {
    margin-top: 17rem;
    margin-bottom: 5rem;
  }
}

@media (max-width:991px){
  html{
    font-size: 55%;
  }

  section{
    padding:2rem;
  }

  .home{
    background-position: left;
  }
}

@media (max-width:781px){
  .home .content h3{
    font-size: 5rem;
  }

  .home .content span{
    font-size: 2.5rem;
  }

  .icons-container .icons h3{
    font-size: 2rem;
  }

  .icons-container .icons span{
    font-size: 1.7rem;
  }

  .about .row .content h3 {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .search-container input {
    width: 100%;
    padding: 14px;
  }

  .home .content, .home .search-container {
    width: 100%;
    max-width: none;
  }

  .center, .home .content h3, .home .content p {
    text-align: center;
  }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

  .btn {
    width: 100%;
  }
}