<div id="login">
  <div class="center">
    <h1>Log In</h1>
    <form>
      <div class="inputbox">
        <input name="login" type="text" [(ngModel)]="login" required="required">
        <span>Login</span>
      </div>
      <div class="inputbox">
        <input name="password" type="password" [(ngModel)]="password" required="required">
        <span>Password</span>
      </div>
      <div class="inputbox">
        <input type="button" (click)="submit()" value="Submit">
      </div>
    </form>
  </div>
</div>
