<app-header></app-header>

<section class="about" id="about">
  <h1 class="aboutHeading">About Us</h1>
  <div class="row">

    <div class="video-container">
      <img src="assets/images/about/aboutImg_1.jpg" alt="" >
    </div>

    <div class="content">
      <h3>90-day return policy</h3>
      <p>You might have bought the wrong gift or clicked on the wrong product by mistake.
        Or maybe the product you chose is not right for you, and now you don’t know what
        to do? It’s simple – just send it back to us or return it at one of our branches
        and we’ll give you a full refund.
        If you don’t have one yet, it’s time to  set up one and make the
        shopping process even smoother :-)</p>
      <p>For more information, e-mail us at info@freshbeauty.co.uk or call 02 00 700 2000.
        Our Customer Service can also help you for instance choose the right present.</p>
    </div>

  </div>

  <div class="row">
    <div class="content">
      <h3>Almost everything in stock</h3>
      <p>We are the largest European online beauty and fragrance retailer with more than
        82,000 products from 1,500 brands currently in stock! And we really make sure
        to keep the vast majority of products in stock so that your lovely parcels can
        be shipped the same day you ordered them. Almost a 1,000 warehouse staff are
        working tirelessly to get your products to you!</p>
    </div>

    <div class="video-container">
      <img src="assets/images/about/aboutImg_2.jpg" alt="" >
    </div>
  </div>

  <div class="row">

    <div class="video-container">
      <img src="assets/images/about/aboutImg_3.jpg" alt="" >
    </div>

    <div class="content">
      <h3>Same price online and in store</h3>
      <p>Do you usually test a fragrance in the shop and then order it online at a better price?
        With Fresh Beauty, you don’t have to. We guarantee the same fantastic prices online, in our
        brick-and-mortar stores, and in our mobile app.</p>
    </div>

  </div>

  <div class="row">
    <div class="content">
      <h3>Free shipping on hundreds of products</h3>
      <p>Did you know that many of our products come with free shipping?
        Find out for yourself. You can collect orders above £XY for
        free at one of our branches. If you choose any of our associate
        delivery services, you only pay £XY for shipping.</p>
      <p>Our tip! If you’d like to avoid shipping costs altogether, you can browse
        the “free shipping” category – one of the products will surely tickle your
        fancy catch your eye so you don’t have to pay for delivery.</p>
    </div>

    <div class="video-container">
      <img src="assets/images/about/aboutImg_4.jpg" alt="" >
    </div>
  </div>

  <div class="row">

    <div class="video-container">
      <img src="assets/images/about/aboutImg_5.jpg" alt="" >
    </div>

    <div class="content">
      <h3>Engraving: A truly personal gift</h3>
      <p>We also can engrave a personal message of your choice on your beauty product or perfume
        by using laser. It’s up to you whether it will be a declaration of love, an important
        date, or just their initials – Fresh Beauty can make it happen.</p>
      <p>How does it work? It’s easy – just fill in the message on the product page before placing
        your order. You can learn more about the process and engraving-suitable products here.</p>
    </div>

  </div>

  <div class="row">
    <div class="content">
      <h3>Fresh Beauty at your home</h3>
      <p>We work day and night to bring you new features and make your shopping
        experience simpler. Have you tried for instance these?</p>
      <p>1) Try It First: Don’t be afraid to order a fragrance, cream or
        foundation you don’t know. We’ll add a sample you can test first
        – if the product doesn’t suit your needs, our messenger will pick
        it up at your address and return your money. Shop the Try It First
        products here.</p>
      <p>2) Discovery Box: We also offer regular beauty boxes with cosmetic
        samples from around the world. Check out our current offer and order one now,
        they’re very popular.</p>
    </div>

    <div class="video-container">
      <img src="assets/images/about/aboutImg_6.jpg" alt="" >
    </div>
  </div>

  <div class="row">

    <div class="video-container">
      <img src="assets/images/about/aboutImg_7.jpg" alt="" >
    </div>

    <div class="content">
      <h3>Luxury gift packaging</h3>
      <p>Wrapping gifts can be quite complicated, so save yourself some time and effort.
        We’ll wrap your products professionally in an elegant box with a satin ribbon of your
        choice. You can also add a personalised message that we’ll print on a card and add to the gift.</p>
      <p>Find more details about gift wrapping here.<br>
        Our tip! A gift box with a magnetic closure will double as a stylish storage box for
        all those little beauty essentials that tend to get lost all the time.</p>
    </div>

  </div>

  <div class="row">
    <div class="content">
      <h3>We’re here for you!</h3>
      <p>Not sure which product to go for, or need help with placing your order?
        E-mail us at info@freshbeauty.co.uk or call 02 00 700 2000 – we’re happy to help you.</p>
      <p>Our Customer Service can communicate fluently in your language.</p>
      <p>Our lines are open:<br>
        Monday-Saturday: 8am - 4pm</p>
    </div>

    <div class="video-container">
      <img src="assets/images/about/aboutImg_8.jpg" alt="" >
    </div>
  </div>
</section>

<app-about-icons></app-about-icons>

<app-footer></app-footer>