<header>
    <input type="checkbox" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <div class="logo">
        <img class="logo-img" src="assets/images/general/logo.png" alt="Fresh Beauty"/>
        <a href="#">
            <strong>
                <span id="short-name">FB</span>
                <br>
                <span id="full-name">Fresh Beauty</span>
            </strong>
        </a>
    </div>

    <nav class="navbar">
       <a routerLink="/" fragment="home">Home</a>
        <a (click)="toAbout()">About</a>
        <div class="dropdown-nav">
            <a routerLink="/products" fragment="products">Products ▼</a>
            <div class="dropdown-content dropdown-content-nav">
                <a name="PERFUMERY" (click)="search($event)">Perfumery</a>
                <a name="MAKEUP" (click)="search($event)">Makeup</a>
                <a name="HAIR" (click)="search($event)">Hair</a>
                <a name="FACE" (click)="search($event)">Face</a>
                <a name="BODY_AND_BATH" (click)="search($event)">Body and bath</a>
                <a name="FOR_MEN" (click)="search($event)">For men</a>
            </div>
        </div>
        <a (click)="toContact()">Contact</a>
    </nav>

    <div class="icons">
        <a routerLink="/favourite" class="fas fa-heart"></a>
        <a routerLink="/cart" class="fas fa-shopping-cart"></a>
        <a routerLink="/login" class="fas fa-user"></a>
    </div>
</header>