/* global styles */

:root {
  --pink:#aa5377;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: .2s linear;
  scroll-behavior: smooth;
  outline: none;
  border: none;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}