section {
  padding:2rem 9%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color:#333;
  padding:1rem;
  margin:2rem 0;
  background:rgba(255, 51, 153,.05);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
}

h2 {
  font-size: 20px;
  color: #aa5377;
  margin-bottom: 5px;
  margin-top: 15px;
}

.products {
  margin-bottom: 160px;
}

.search-container {
  position: relative;
  margin: auto;
  width: 600px;
  border: none;
  height: 60px;
  border-radius: 30px;
}

.search-container input {
  width: 600px;
  height: 50px;
  font-size: 16px;
  background: #ffffff;
}

.search-container button {
  position: absolute;
  float: right;
  margin-top: 8px;
}

.products .side-menu{
  margin-left: 70px;
  margin-right: 50px;
}

.products .box-container{
  margin-top: -270px;
  margin-left: 300px;
  margin-right: 100px;
}

.products .box-container .box{
  flex:1 1 25rem;
  margin: 5px;
}

.products .box-container .box .image img{
  height:24rem;
}

.products .box-container .box .image .icons a{
  font-size: 18px;
}

.products .box-container .box .content h3{
  font-size: 23px;
}

.products .box-container .box .content .price{
  font-size: 20px;
}

.products .box-container .box .content .price span{
  font-size: 16px;
}

.aboutHeading{
  text-align: center;
  margin-top: 13rem;
  margin-bottom: 3.1rem;
  padding: 0.5rem;
  color:#333;
  background:rgba(255, 51, 153,.05);
}

h1 {
  font-size: 4rem;
  display: inline-block;
}

.fa-plus-circle {
  color: #333;
  font-size: 4rem;
}

.fa-plus-circle:hover {
  color: #aa5377;
}

#add-product {
  border-radius: 50%;
  margin-left: 2rem;
  background: none;
}

select {
  display: block;
  padding: 5px;
  width: 200px;
  color: #ffeee2;
  background-color: var(--pink);
  border-radius: 30px;
  margin-bottom: 3px;
  font-size: 16px;
}

@media (max-width:991px){
  html{
    font-size: 55%;
  }

  section{
    padding:2rem;
  }
}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

}
