<app-header (saveCategory)="setCategoryWithHeader($event)"></app-header>

<section class="products" id="products">

  <div class="aboutHeading">
    <h1>Products</h1>
    <button id="add-product" (click)="openCreatePage()">
      <i [ngClass]="classCreateButton"></i>
    </button>
  </div>

  <div class="container">

    <div class="search-container" style="margin-bottom: 400px">
      <form action="#">
        <input [(ngModel)]="searchParameter.name" type="text" autocomplete="off" placeholder="Search..." name="search">
        <button (click)="apply()" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <div class="side-menu" style="margin-top: -400px">
      
      <h2 class="blog-sidebar-title">Filter by</h2>

      <select name="cars" [(ngModel)]="searchParameter.brand">
        <option value="">Brands (All)</option>
        <option *ngFor="let brand of brands" [ngValue]="brand.name">{{brand.name}}</option>
      </select>
      
      <select name="cars" [value]="getCategory()" (change)="setCategory($event)">
        <option value="null">Categories (All)</option>
        <option value="PERFUMERY">Perfumery</option>
        <option value="MAKEUP">Makeup</option>
        <option value="HAIR">Hair</option>
        <option value="FACE">Face</option>
        <option value="BODY_AND_BATH">Body and bath</option>
        <option value="FOR_MEN">For men</option>
      </select>
      
      <h2 class="blog-sidebar-title">Sort by</h2>
     
      <select name="cars" [(ngModel)]="sortValue" (change)="setSorted()">
        <option value="NameUp" selected>Name A to Z</option>
        <option value="NameDown">Name Z to A</option>
        <option value="PriceUp">Price Low to High</option>
        <option value="PriceDown" >Price High to Low</option>
      </select>
      
      <h2 class="blog-sidebar-title">Price range</h2>

      <div>
        <input type="number" [(ngModel)]="searchParameter.priceFrom" autocomplete="off"
                style="width: 95px; margin-right: 10px; border: solid 1px #8f4461; border-radius: 30px; padding: 8px; font-size: 14px" placeholder="from" name="search" [min]="0" [step]="1">
        <input type="number" [(ngModel)]="searchParameter.priceTo" autocomplete="off" style="width: 95px; margin-right: 10px; border: solid 1px #8f4461; border-radius: 30px; padding: 8px; font-size: 14px"
                placeholder="to" name="search" [min]="0" [step]="1">
      </div>

      <button type="button" style="width: 95px; margin-right: 10px" class="btn btn-dark btn-lg" (click)="apply()"><p style="margin-left: -10px">Apply</p></button>
      <button type="button" style="width: 95px;" class="btn btn-dark btn-lg" (click)="clear()"><p style="margin-left: -8px">Clear</p></button>
        
    </div>

    <div class="box-container">

      <div class="box" *ngFor="let product of products | paginate: {itemsPerPage: searchParameter.pageSize, currentPage: searchParameter.page + 1, totalItems: allProduct}">
        <div class="image">
          <img src="{{product.photoPath}}" alt="">
          <div class="icons">
            <a class="fas fa-heart" (click)="addToFavourite(product)"></a>
            <a class="cart-btn" (click)="addToCart(product)">Add to cart</a>
            <a routerLink="/products/{{product.id}}" class="fas fa-share" ></a>
          </div>
        </div>
        <div class="content">
          <h3>{{product.name}}</h3>
          <div class="price"> {{product.price | currency:'USD'}}</div>
        </div>
      </div>

    </div>

    <div style="width: 700px; background-color: #fff; margin: 50px auto auto;">
      <div style=" position: relative; font-size: 16px; margin: 20px auto auto;">
        <button style="width: 150px; font-size: 16px; margin-top: -5px; float: left" class="btn btn-dark btn-lg" (click)="getFirst()">First Page</button>
        <div style="width: 400px; text-align: center; background-color: #fff; margin: auto;">
          <pagination-controls previousLabel="Previous"
                               nextLabel="Next"
                               class="my-pagination"
                               [maxSize]="7"
                               (pageChange)="changePage($event.valueOf() - 1)">
          </pagination-controls>
        </div>
        <button style="width: 150px; font-size: 16px; float: right;  margin-top: -47px" class="btn btn-dark btn-lg" (click)="getLast()">Last Page</button>
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>