.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.13rem solid rgb(211, 211, 211);
    padding-bottom: 0.8rem;
    align-items: center;
}

h1 {
    font-size: 3.2rem;
}

#actions {
    padding: 1.075rem 1.7rem;
    border-radius: 50%;
    background: none;
}

#actions:hover {
    background: rgb(224, 224, 224);
}

.show {
    display: block !important;
}

.btn-dropdown-active {
    background: rgb(195, 195, 195) !important;
}

.fa-ellipsis-v {
    font-size: 2rem;
    color: #333;
}

i {
    pointer-events: none;
}

.dropdown-actions {
    position: relative;
    display: inline-block;
}

#dropdown-content-actions {
    display: none;
    position: absolute;
    min-width: 20rem;
    z-index: 1;
    border-radius: 1rem;
    left: -16rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    background-color: white;
}

.btn-action {
    display:block;
    background-color: transparent;
    border: none;
    user-select: none;
    width: 100%;
    text-align: start;
    padding: 0.3rem 0 0.3rem 1.7rem;
}

.btn-action:first-child {
    margin-top: 1rem;
}

.btn-action:hover {
    background-color: rgb(238,238,238);
}

#price {
    font-weight: bold;
    color: #aa5377;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

#color {
    display: flex;
    align-items: center;
}

#color-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1rem;
    box-shadow: inset 0 0 0 0.2rem white;
}

.marb-1 {
    margin-bottom: 1rem;
}

.desc {
    margin-top: 2rem;
    white-space: pre-line;
}

.btn {
    margin-top: 3rem;
}

@media screen and (max-width: 991px) {
    section {
        padding: 16.2rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        text-align: center;
        flex: 1;
    }

    #img {
        height: 60rem;
    }

    .title {
        margin-top: 1rem;
        border: none;
        padding: 0;
    }

    #price {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    section {
        padding-top: 13rem;
    }

    h1 {
        font-size: 2.1rem;
    }

    .fa-ellipsis-v {
        font-size: 1.5rem;
    }

    #actions {
        padding: 0.45rem 0.97rem;
    }

    #price {
        font-size: 1.8rem;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (min-width: 640px) {
    #img {
        height: 48rem;
    }
}